
.image1{
    width: 1000px;
}
.a1{
    padding-left: 50px !important;
}
.div{
    margin-top: 10px;
    position: absolute;
}
.nav1{
    margin-left: 300px;
    font-size: 40px;
}
.div1{
    margin-top: 200px;
    position: absolute;
    padding-left: 100px;
    background-color: aqua;
    height: 350px;
    width: 500px;
    padding-top: 60px;
}
.div2{
    padding-left: 300px;
}
.div3{
    background-color: rgb(203, 222, 238);
    height: 200px;
}
.h2{
    text-align: center;
    padding-top: 20px;
}
.pre{
    text-align: center;
    font-size: 25px;
    padding-bottom: 30px;
}
.div4{
    position: absolute;
}
.div5{
    padding-left: 400px;
    padding-top: 30px;
    position: absolute;
}
.div6{
    padding-left: 800px;
    padding-top: 30px;
    position: absolute;
}
.div7{
    padding-left: 1200px;
    padding-top: 30px;
}
.div8{
    position: absolute;
}
.div9{
    padding-left: 400px;
    position: absolute;
}
.image2{
    padding-left: 800px;
    position: absolute;
    padding-top: 50px;
}
.img{
    width: 300px;
    height: 200px;
}
.image3{
    padding-left: 1120px;
}
.img1{
    width: 300px;
    height: 280px;
}
.div10{
    position: absolute;
}
.div11{
    padding-left:  400px;
    position: absolute;
}
.image5{
    padding-left: 800px;
    position: absolute;
}
.img3{
    width: 300px;
    height: 220px;
}
.image4{
    padding-left: 1120px;
    padding-top: 20px;
}
.img2{
    width: 300px;
    height: 150px;
}
.a2{
   
    font-size: 20px;
}